.renk{
    background-color: black;
    
}
.hos{
    width: 700px;
    height: 200px;
    color: white;
    line-height: 190px;
    font-size: 80px;
}
.ilet{
    width: 700px;
    height: 200px;
    color: white;
    line-height: 120px;
    font-size: 60px;
}